body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
   
}
.one{
    width: 600px;
    height: auto;
    margin: 10px auto;
}
.one table{
    margin-left: 50px;
   
}
table ,th,td{
    border: 2px solid rgb(58, 67, 2);
}
/* table{
   border-collapse: separate;
   border-spacing: 10px 20px;
} */

table{
    empty-cells: hide;
}
th,td{
    padding: 10px;
}
tr:hover{
    background-color: rgb(120, 101, 133);
}